@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|VT323');
/*-------------------------------------------------------Mobile---------------------------------------------------------*/

@media only screen and (max-width: 600px) {
    body,
    #slider,
    .wrap,
    .slide-content {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        overflow: hidden;
        font-family: 'Cabin Sketch', cursive;
    }
    .wrap {
        position: relative;
    }
    .slide {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: black;
    }
    .slide-content {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: wheat;
    }
    .slide-content span {
        font-size: .5cm;
        color: #fff;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    .arrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        width: 0;
        height: 0;
        border-style: solid;
    }

    .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        box-sizing: border-box;
        background: transparent;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        display: flex;
        width: 90%;
        height: 80%;
        align-items: center;
        justify-content: center;
        padding-right: 15%;
        padding-left: 5%;
    }
    .imgbox {
        display: none;
        width: 500px;
        flex: 500px;
    }
    img {
        height: 200px;
        width: 200px;
    }
    .words {
        padding-left: 20px;
        text-align: center;
        font-family: 'Cabin Sketch', cursive;
        font-size: 0.5cm;
    }
}

/*-----------------------------------------------------Tabs------------------------------------------*/

@media only screen and (min-width: 600px) and (max-width: 768px) {
    body,
    #slider,
    .wrap,
    .slide-content {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        overflow: hidden;
        font-family: 'Cabin Sketch', cursive;
    }
    .wrap {
        position: relative;
    }
    .slide {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: black;
    }
    .slide-content {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: wheat;
    }
    .slide-content span {
        font-size: .5cm;
        color: #fff;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    .arrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        width: 0;
        height: 0;
        border-style: solid;
    }

    .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        box-sizing: border-box;
        background: transparent;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        display: flex;
        width: 90%;
        height: 80%;
        align-items: center;
        justify-content: center;
        padding-right: 15%;
        padding-left: 5%;
    }
    .imgbox {
        display: none;
        width: 500px;
        flex: 500px;
    }
    img {
        height: 200px;
        width: 200px;
    }
    .words {
        padding-left: 20px;
        text-align: center;
        font-family: 'Cabin Sketch', cursive;
        font-size: 0.5cm;
    }
}

/*--------------------------------------------------Small-Desktop------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    body,
    #slider,
    .wrap,
    .slide-content {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        overflow: hidden;
        font-family: 'Cabin Sketch', cursive;
    }
    .wrap {
        position: relative;
    }
    .slide {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: black;
    }
    .slide-content {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: wheat;
    }
    .slide-content span {
        font-size: .5cm;
        color: #fff;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    .arrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        width: 0;
        height: 0;
        border-style: solid;
    }

    .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        box-sizing: border-box;
        background: transparent;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        display: flex;
        width: 90%;
        height: 80%;
        align-items: center;
        justify-content: center;
        padding-right: 15%;
        padding-left: 5%;
    }
    .imgbox {
        width: 500px;
        flex: 500px;
    }
    img {
        height: 200px;
        width: 200px;
    }
    .words {
        padding-left: 20px;
        text-align: center;
        font-family: 'Cabin Sketch', cursive;
        font-size: 0.52cm;
    }

}

/*-------------------------------------------------Large-Desktop------------------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    body,
    #slider,
    .wrap,
    .slide-content {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        overflow: hidden;
        font-family: 'Cabin Sketch', cursive;
    }
    .wrap {
        position: relative;
    }
    .slide {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: black;
    }
    .slide-content {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: wheat;
    }
    .slide-content span {
        font-size: .5cm;
        color: #fff;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    .arrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        width: 0;
        height: 0;
        border-style: solid;
    }
    .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        box-sizing: border-box;
        background: transparent;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        display: flex;
        width: 90%;
        height: 80%;
        align-items: center;
        justify-content: center;
        padding-right: 15%;
        padding-left: 5%;
    }
    .imgbox {
        width: 500px;
        flex: 500px;
    }
    img {
        height: 200px;
        width: 200px;
    }
    .words {
        padding-left: 20px;
        text-align: center;
        font-family: 'Cabin Sketch', cursive;
        font-size: 0.53cm;
    }
}

#arrow-left {
    margin-top: 2%;
    border-width: 20px 30px 20px 0;
    border-color: transparent wheat transparent transparent;
    left: 0;
    margin-left: 10px;
}

#arrow-right {
    margin-top: 2%;
    border-width: 20px 0px 20px 30px;
    border-color: transparent transparent transparent wheat;
    right: 0;
    margin-right: 10px;
}

#arrow-left:hover {
    border-color: transparent red transparent transparent;
    margin-left: 20px;
}

#arrow-right:hover {
    border-color: transparent transparent transparent red;
    margin-right: 20px;
}